
.title-shadow {
  letter-spacing: 4px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
.subtitle-shadow{
  letter-spacing: 2px;
  text-shadow: 2px 5px 4px rgba(26, 153, 58, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
